@import '@fontsource/fira-mono';

:root {
	--font-body: 'Courier New', Arial;
	--font-mono: 'Fira Mono', monospace;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	--color-bg: #000;
	--color-card-bg: #102;
	--color-card-border: #AAA;
	--color-card-name: #EEE;
	--color-card-details: #BBB;
	--color-card-button-hover: #001;
	--color-bar-bg: #213;
	--color-bar-text: #EEE;
	--color-bar-button-hover: #001;
	--color-bar-separator: #AAA;
	--color-about-text: #FFF;
}

body {
	scroll-behavior: smooth;
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}

a {
	text-decoration: none;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
